* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 10pt;
}

.push-left1 {
  margin-left: 8px !important;
}

.push-right1 {
  margin-right: 8px !important;
}

.push-bot1 {
  margin-bottom: 8px !important;
}
